.App {
  text-align: left;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: #2841ad;
  margin: 5px;
  padding: 5px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  background-color: #307cd4;
  color: white;
  font-family: 'Urbanist', sans-serif;
}
.navbar-brand{
  color: white !important;
}
.nav-link{
  color: white !important;
}
.dropdown-item{
  color: #283fa5 !important;
}
.App{
  text-align: center;
  color: #307cd4;
}